*{
    margin:0;
    padding:0;
}
/*Store View*/
.windows{
    margin: 4rem;
}

.women-outfit h1{
    color: black;
    font-size: 25px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.5);
    margin-left: 15px;
    margin-top: 15px;
    margin-right: 40em;
    margin-bottom: 15px;
}

.women-jewelries h1{
    color: black;
    font-size: 25px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.5);
    margin-left: 15px;
    margin-top: 15px;
    margin-right: 40em;
    margin-bottom: 15px;
}

.card{
    border: 2px solid grey;
    margin: 15px;
    display: inline-block;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 15px 5px black;
    cursor: pointer;
    transition: .5s;
}
.card:hover{
    transform: translateY(5px);
    box-shadow: 0 10px 5px black;
}
.card:active{
    transform: translateY(17px);
    box-shadow: none;
}
.card h2{
    color: black;
    font-size: 22px;
    font-weight: 700;
}
.card h4{
    color: black;
    font-size: 18px;
    font-weight: 600;
}
.card p{
    color: black;
    font-size: 15;
    font-weight: 550;
}
/*Product View*/
.details{
    margin-left: 35em;
    margin-top: -15em;
    margin-bottom: 30em;
}
.details h1{
    color: black;
    font-size: 35px;
    font-weight: 700;
}
.details h2{
    color: black;
    font-size: 25px;
    font-weight: 700;
}
.details h4{
    color: black;
    font-size: 18px;
    font-weight: 650;
}
.details select{
    outline: none;
    border: 2px solid orangered;
    border-radius: 50px;
    appearance: none;
    width: 150px;
}
.details select::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(50%) rotate(45deg);
    border: 5px solid black;
}
.details button{
    background: orangered;
    color: white;
    width: 150px;
    height: 45px;
    cursor: pointer;
    transition: .5s;
    margin: 10px;
    border: none;
    border-radius: 50px;
    box-shadow: 0 10px 5px black;
}
.details button:hover{
    box-shadow: 0 7px 5px black;
    transform: translateY(3px);
}
.details button:active{
    background: black;
    color: white;
    box-shadow: none;
    transform: translateY(10px);
}